@if(isLoading){
<app-loader />
}@else {
<div class="container">
  <h2>Update Profile Info</h2>
  <div class="userInfo">
    <div class="left">
      <!-- update username form -->
      <form
        class="usernameForm"
        [formGroup]="usernameForm"
        (ngSubmit)="onSubmitUsername()"
      >
        <div class="field">
          <label class="label"></label>
          <input
            type="text"
            class="input"
            placeholder="new username"
            formControlName="newUsername"
            [class.invalid]="
              usernameForm.get('newUsername')?.invalid &&
              (usernameForm.get('newUsername')?.dirty ||
                usernameForm.get('newUsername')?.touched)
            "
          />
        </div>
        <div class="submit">
          <button type="submit" class="button">Update</button>
        </div>
        @if(messageSignal()) {
        <div class="error">
          {{ messageSignal() }}
        </div>
        }
      </form>
      <div class="divider"></div>
      <!-- update password form -->
      <form
        class="passwordForm"
        [formGroup]="passwordForm"
        (ngSubmit)="onSubmitPassword()"
      >
        <div class="field">
          <label class="label"></label>
          <input
            type="password"
            class="input"
            placeholder="repeat Password"
            formControlName="rePass"
            [class.invalid]="
              passwordForm.get('rePass')?.invalid &&
              (passwordForm.get('rePass')?.dirty ||
                passwordForm.get('rePass')?.touched)
            "
          />
        </div>
        <div class="field">
          <label class="label"></label>
          <input
            type="password"
            class="input"
            placeholder="new Password"
            formControlName="newPassword"
            [class.invalid]="
              passwordForm.get('newPassword')?.invalid &&
              (passwordForm.get('newPassword')?.dirty ||
                passwordForm.get('newPassword')?.touched)
            "
          />
        </div>
        <div class="submit">
          <button type="submit" class="button">Update</button>
        </div>
        @if(passwordSignal()) {
        <div class="error">
          {{ passwordSignal() }}
        </div>
        }
      </form>
    </div>
    <div class="right">
      <span class="activeSince">
        <p class="infoText">Active since:</p>
        <p class="infoDate">{{ userinfo?.createAt | date : "medium" }}</p>
      </span>
      <span class="lastLogin">
        <p class="infoText">Last Login:</p>
        <p class="infoDate">{{ userinfo?.lastLoginAt | date : "medium" }}</p>
      </span>
    </div>
  </div>

  <h2>My Posts</h2>
  <div class="gallery">
    @for (post of posts(); track $index){
    <div class="picture-frame">
      <div class="picture">
        <a [routerLink]="post.id" routerLinkActive="router-link-active">
          <img [src]="post.imageUrl" />
        </a>
      </div>
      <div class="info">
        <p class="title">{{ post.title }}</p>
        <p class="createdAt">
          {{ post.createdAt | dateTransform | date : "medium" }}
        </p>
      </div>
    </div>
    }
  </div>
</div>
}
