@if(isLoading){
<app-loader />
}@else {
<div class="container">
  <div class="userInfo">
    <h2>Update Profile Info</h2>
    <form class="login" #form="ngForm" (ngSubmit)="username(form)">
      <fieldset>
        <label for="password"></label>
        <input
          type="text"
          name="username"
          id="username"
          placeholder="new username"
          ngModel
          #inputUsername="ngModel"
          minlength="3"
          required
        />
        <button>update</button>
      </fieldset>
    </form>
  </div>
  <h2>My Posts</h2>
  <div class="gallery">
    @for (post of posts(); track $index){
    <div class="picture-frame">
      <div class="picture">
        <a [routerLink]="post.id" routerLinkActive="router-link-active">
          <img [src]="post.imageUrl" />
        </a>
      </div>
      <div class="title">{{ post.title }}</div>
    </div>
    }
  </div>
</div>
}
