@if(isLoading){
<app-loader />
}@else {
<div class="container">
  <div class="userInfo">
    <h2>Update Profile Info</h2>
    <!-- create user profile forms -->
    <!-- update username form -->
    <form
      class="usernameForm"
      [formGroup]="usernameForm"
      (ngSubmit)="onSubmitUsername()"
    >
      <div class="field">
        <label class="label"></label>
        <input
          type="text"
          class="input"
          placeholder="new username"
          formControlName="newUsername"
          [class.invalid]="
            usernameForm.get('newUsername')?.invalid &&
            (usernameForm.get('newUsername')?.dirty ||
              usernameForm.get('newUsername')?.touched)
          "
        />
        <span
          class="error"
          *ngIf="
            usernameForm.get('newUsername')?.hasError('required') &&
            (usernameForm.get('newUsername')?.dirty ||
              usernameForm.get('newUsername')?.touched)
          "
          >field is required</span
        >
      </div>
      <div class="submit">
        <button type="submit" class="button">Update</button>
      </div>
    </form>
    <!-- update password form -->
    <form
      class="passwordForm"
      [formGroup]="registerForm"
      (ngSubmit)="onSubmitUsername()"
    >
      <div class="field">
        <label class="label"></label>
        <input
          type="text"
          class="input"
          placeholder="new username"
          formControlName="newUsername"
          [class.invalid]="
            registerForm.get('newUsername')?.invalid &&
            (registerForm.get('newUsername')?.dirty ||
              registerForm.get('newUsername')?.touched)
          "
        />
        <span
          class="error"
          *ngIf="
            registerForm.get('newUsername')?.hasError('required') &&
            (registerForm.get('newUsername')?.dirty ||
              registerForm.get('newUsername')?.touched)
          "
          >field is required</span
        >
      </div>
      <div class="submit">
        <button type="submit" class="button">Update</button>
      </div>
    </form>
  </div>
  <h2>My Posts</h2>
  <div class="gallery">
    @for (post of posts(); track $index){
    <div class="picture-frame">
      <div class="picture">
        <a [routerLink]="post.id" routerLinkActive="router-link-active">
          <img [src]="post.imageUrl" />
        </a>
      </div>
      <div class="title">{{ post.title }}</div>
    </div>
    }
  </div>
</div>
}
