@for (post of photograph;track $index){
<div class="container">
  <div class="left">
    <div class="frame"><img [src]="post.imageUrl" /></div>
    <div class="menubar">
      <a routerLink="comment">Comment</a>
      <a routerLink="edit">Edit</a>
      <a routerLink="delete">Delete</a>
    </div>
    <ul class="comments">
      <li>first comment</li>
    </ul>
  </div>
  <div class="right">
    <h2>Description:</h2>
    <div class="description">
      {{ post.description }}
    </div>
  </div>
  <!-- //TODO add dynamic comments -->
</div>
}
