.container {
  width: 100%;
  padding: 0;
  display: flex;
  gap: 30px;
  justify-content: start;
}
img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 0px auto;
}

h2 {
  text-align: center;
}
.description {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}
.menubar {
  display: flex;

  justify-content: space-evenly;
  margin: 0px;
}

.comment-box {
  border: 3px solid #833ab4;
  text-align: center;
  display: flex;
  flex-direction: column;

  padding: 30px;
  gap: 20px;
}
.comment-box input {
  height: max-content;
}
.comments {
  height: 300px;
  overflow: scroll;
}

fieldset {
  display: flex;
  gap: 30px;
  justify-content: center;
}
button {
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  opacity: 0.8;
  border: none;
  padding: 10px;
  border-radius: 10px;
}
button:hover {
  color: white;
  background-color: #833ab4;
}
.edit {
  color: black;
  background-color: #ffdc80;
}
.delete {
  color: black;
  background-color: #fd1d1d;
  cursor: pointer;
}
textarea {
  padding: 5px;
  width: 70%;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  border: none;
}
a {
  font-size: 2rem;
  opacity: 0.8;
  color: white;
  padding: 5px 20px;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  height: 20%;
}
li {
  text-align: start;
  max-width: max-content;
  font-size: 1.5rem;
  padding: 10px;
  margin: auto;
}
.comment-li {
  padding-right: 10px;
  background-color: white;
  display: flex;

  justify-content: space-between;
  align-items: center;
}
.comment-info {
  display: flex;
  flex-direction: column;
  font-style: italic;
}
span {
  flex-basis: 30%;

  color: green;
}

.postedBy {
  font-size: 1.2rem;
  color: #833ab4;
}
.left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.right {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.createdAt {
  font-style: italic;
}
