@if(isLoading){
<app-loader />
}@else { @for (post of photograph;track $index){
<div class="container">
  <div class="left">
    <h2>{{ post.title }}</h2>
    <div class="frame"><img [src]="post.imageUrl" /></div>
    <div class="info">
      <p class="postedBy">Posted by: {{ post.ownerUsername }}</p>
      <p class="createdAt">
        Posted on: {{ post.createdAt | dateTransform | date : "medium" }}
      </p>
      <p>{{ post.commentCount?.toString() }}</p>
    </div>

    @if(isOwner){

    <div class="menubar">
      <a class="edit" routerLink="edit">Edit</a>
      <a class="delete" (click)="deletePost(postId)">Delete</a>
    </div>
    }

    <div class="comment-box">
      <!-- TODO comments box -->
      @if (userService.currentUserSignal() !== null){
      <form class="create" #form="ngForm" (ngSubmit)="comment(form)">
        <fieldset>
          <label for="text"></label>
          <textarea
            type="text"
            name="text"
            id="text"
            placeholder="comment here"
            ngModel
            #inputEmail="ngModel"
            minlength="3"
            required
          ></textarea>
          <button>Comment</button>
        </fieldset>
      </form>
      }
      <h3>Comments</h3>
      <ul class="comments">
        @for (comment of commentSignal(); track $index){
        <div class="comment-li">
          <div class="comment-text">
            <li>{{ comment.text }}</li>
          </div>
          <div class="comment-info">
            <span>{{ comment.username | uppercase }} </span>
            <span>{{
              comment.createdAt | dateTransform | date : "medium"
            }}</span>
          </div>
        </div>
        }
      </ul>
    </div>
  </div>
  <div class="right">
    <h2>Description:</h2>
    <div class="description">
      {{ post.description }}
    </div>
  </div>
  <!-- //TODO add dynamic comments -->
</div>
} }
