<div class="container">
  <form class="create" #form="ngForm" (ngSubmit)="create(form)">
    <h2>Create Article</h2>
    <fieldset>
      @if(error()){
      <p class="error">{{ error() }}</p>
      }
      <label for="title"></label>
      <input
        type="text"
        name="title"
        id="title"
        placeholder="title"
        ngModel
        #inputTitle="ngModel"
        required
      />
      <label for="imageUrl"></label>
      <input
        type="url"
        name="imageUrl"
        id="imageUrl"
        placeholder="imageUrl"
        ngModel
        #inputImageUrl="ngModel"
        required
      />
      <label for="description"></label>
      <textarea
        type="text"
        name="description"
        id="description"
        placeholder="description"
        ngModel
        #inputDescription="ngModel"
        required
      ></textarea>
      <button>Create</button>
    </fieldset>
  </form>
</div>
