<div class="container">
  <div class="search-bar">
    <input
      type="text"
      name="search"
      ngModel
      placeholder="search"
      (keyup)="searchFunc($event)"
    />
  </div>
  <div class="sort">
    <button (click)="sortByUser()">Sory by user</button>
    <button (click)="sortByOlderst()">Sort by oldest first</button>
    <button (click)="sortByNewest()">Sort by newest first</button>
  </div>
  <div class="gallery">
    @for (post of posts(); track $index){
    <div class="picture-frame">
      <div class="picture">
        <a [routerLink]="post.id" routerLinkActive="router-link-active">
          <img [src]="post.imageUrl" />
        </a>
      </div>
      <div class="title">{{ post.title }}</div>
      <div class="author">by {{ post.ownerUsername }}</div>
      <div class="createdAt">
        Posted on: {{ post.createdAt | dateTransform | date : "medium" }}
      </div>
    </div>
    }
  </div>
</div>
