.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-between;
  width: 100%;
  min-width: auto;
}
.search-bar {
  margin: auto;
  width: 50%;
}
.search-bar input {
  width: 100%;
  padding-left: 10px;
}
.sort {
  align-self: center;
  display: flex;
  gap: 10px;
}
.sort button {
  padding: 10px;
  border: none;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  border-radius: 20px;
}
.sort button:hover {
  background-color: #833ab4;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: start;
}
.picture-frame {
  flex-grow: 1;
  border: 3px solid black;
  padding: 20px;
  background-color: white;
  width: 30%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.picture {
  margin: auto;
}
img {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
}
.title {
  text-align: center;
  /* font-size: 1.5rem; */
}
input {
  padding: 5px;
}
.author {
  color: #833ab4;
}
