nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: black;
  opacity: 0.8;
  gap: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
a {
  font-size: 2rem;
  color: white !important;
  padding: 10px;
  margin: 5px;
}

a:hover {
  background-color: grey;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}

.nav-left {
  width: 50%-10px;
  display: flex;
  justify-content: space-around;
  gap: 5px;
}

.nav-right {
  width: 50%-10px;
  display: flex;
  justify-content: space-around;
  gap: 5px;
}
