.container {
  /* width: 90%; */
  height: auto;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  /* margin: 10% auto; */
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.banner {
  position: relative;
}

.banner-photo {
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  width: 800px;
}
h1 {
  color: white;
  opacity: 0.8;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.latest {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.picture-container {
  width: 90%;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: end;
  justify-content: space-evenly;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.picture-frame {
  width: 30%;
  max-width: 30%;
  display: flex;
  flex-direction: column;

  gap: 5px;
  align-items: center;
}

.latest-photo {
  border-radius: 10px;
}
.info-box {
  display: flex;
  gap: 20px;
}
.author {
  color: #833ab4;
  font-style: italic;
}
