.container {
  background-color: rgb(236, 236, 236);
  padding: 0;
  max-width: 0;
  max-width: 90%;
  margin: auto;
  min-height: 100vh;
}
.main {
  margin: 30px;
  max-width: none;
  display: flex;
  flex: 1 1 100%;
  justify-content: center;
}
